<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <script
            crossorigin="anonymous"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen"
          rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>JPA Example</h1>
        <p>See how easy it is to use JPA with Spring Boot</p>
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form method="post" role="form" th:action="@{/employee/save}" th:object="${employee}">
                    <legend>Add Employee</legend>

                    <div class="form-group">
                        <label for="employeeName">Employee Name</label>
                        <input class="form-control" id="employeeName" name="employeeName" placeholder="Uzumaki Naruto"
                               th:field="*{name}"
                               type="text"></input>
                    </div>

                    <div class="form-group">
                        <label for="employeeName">Employee Position</label>
                        <input class="form-control" id="employeePosition" name="employeePosition" placeholder="Owner"
                               th:field="*{position}" type="text"></input>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>

                <form method="post" role="form" th:action="@{/employee/count}">
                    <legend>Count Employees Having Name</legend>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="name" type="text"></input>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>

                <!--<div class="container">-->
                <div class="row" th:if="${showName}">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p th:text="${count}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row" th:if="${employees.size() > 0}">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Row</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.id}"></td>
                                    <td th:text="${employee.name}"></td>
                                    <td th:text="${employee.position}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
